In [23]:
# 1. given an array to check duplicates

arr=[1,2,4,2,5,9]
arr.sort() #sorting the arr
arr

[1, 2, 2, 4, 5, 9]

In [ ]:
dup = False
for i in range(1,len(arr)): # for loop to check duplicates in consecutive
  if arr[i]==arr[i-1]:
    dup = True
    break
print(dup)

True

In [22]:
 # 2 . given array and an integer k, rotate the array to the right by k steps.

arr2 = [1,2,3,4,5,6,7]
k= 3
arr2 = arr2[::-1]    # reversing array
arr2[:k] , arr2[k:] = arr2[:k][::-1] ,arr2[k:][::-1]   #  taking sub arrays with k parameter then reversing and replacing them
print(arr2)

[5, 6, 7, 1, 2, 3, 4]

In [ ]:
# 3 Reverse the given array

In [ ]:
arr3 = [2,4,5,7,9,12]
arr3 = arr3[::-1]  # reversing the array
print(arr3)

[12, 9, 7, 5, 4, 2]

In [ ]:
# 4 find the max element in array

arr4 = [10,5,20,8,15]
def maximum(arr4):
  maxi = arr4[0]
  for i in range(1,len(arr4)):
    maxi = max(maxi,arr4[i])
  return maxi
if len(arr4)==0:
  print("Empty array")
else:
  print(maximum(arr4))

20

In [ ]:
# 5 . Remove the duplicate element in sorted array with out using any extra data scruture

In [3]:
arr5 = [1,1,2,2,2,3,3,4,4,4,5,5]
n = len(arr5)
j=1
for i in range(1,n):
  if arr5[i-1]!=arr5[i]:   # when ever a duplicate occurs we override the j th position with new element
    arr5[j]= arr5[i]
    j+=1
arr5 = arr5[:j]
print(arr5)

[1, 2, 3, 4, 5]